Package: me.absidue.ignoexplore
Name: IGNoExplore
Version: 0.0.5
Depends: firmware (>= 13.0), org.coolstar.libhooker | mobilesubstrate
Architecture: iphoneos-arm
Description: Hides the explore feed in Instagram and enters search field straight away
Maintainer: absidue
Author: absidue
Section: Tweaks
Tag: compatible_min::ios13.0
